{
    auto_https off

    layer4 {
        :5432 {
            route {
                proxy {
                    upstream caddy:5432
                    upstream caddy2:5432
                    upstream caddy3:5432
                }
            }
        }
    }
}

:4200 {
    reverse_proxy caddy:4200 caddy2:4200 caddy3:4200 {
        lb_policy round_robin
        fail_duration 10s
    }
}
